executor{

  jobName = { task.process.tokenize(':').last() }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/3.3.0'
}

params {

  idxbase = '/reference/genomes/GRCh38_full_analysis_set_plus_decoy_hla/GRCh38_full_analysis_set_plus_decoy_hla.fa'
}

conda {

  cacheDir = '/working/genomeinfo/share/containers/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/genomeinfo/share/containers/singularity'
}
